<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="PATTERN" value="%date{dd MMMM yyyy ; HH:mm:ss.SSS} [%t] %-5level %logger{36}:%line %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>